<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDK99DURN7CnHOAj45tMMt0ntcCQYvjlw</string>
	<key>GCM_SENDER_ID</key>
	<string>939322594123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devkomApp</string>
	<key>PROJECT_ID</key>
	<string>devkom-dfdca</string>
	<key>STORAGE_BUCKET</key>
	<string>devkom-dfdca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939322594123:ios:c98290e31dd82025250ece</string>
</dict>
</plist>
